body,div{
  background-color:#f1dc1a;
  color:#424242;
  width:50%;
  max-width: 800px;
  height: 600px;
}

div.root {
    background-color:#6de2f1;
    color:#424242;
    width:50%;
    max-width: 800px;
    height: 600px;
 
}
